<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css" type="text/css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <script src="../../static/js/app.js"></script>
    <title>Stackoverflow | Lite</title>
</head>

<body>
    <header class="header">
        <nav class="myNavbar">
            <div>
                <ul class="myNav">
                    <div class="my-container">
                        <li>
                            <a style="font-size: 22px; color: gold;" href="home.html"><span class="smallerFont">Stackoverflow</span>LITE<sup><small>2018</small></sup></a>
                        </li>
                        <li class="right">
                            <a href="signin.html">
                                <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/logout-rounded-filled.png">
                            </a>
                        </li>
                        <li class="right">
                            <a href="userprofile.html">
                                <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div include-html="menu.html"></div>
    <script>
        includeHTML();
    </script>
    <div class="content grid-3">
        <div class="span-col-2">
            <h1>Recent Questions</h1>
            <div class="search">
                <input class="animated" name="search" type="text" placeholder="Search....">
            </div>
            <hr>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">Jquery search working on my desktop device and also on chrome mobile emulator but not working in real device</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and 
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine 
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not 
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">0</a></h5>
                                        <a onclick="document.getElementById('id01').style.display='block'" class="btn btn-success" href="#">Post Answer</a>
                                        <div id="id01" class="modal">
                                            <form class="modal-content animate" action="/action_page.php">
                                                <div class="scontainer">
                                                    <label style="float:left" for="psw"><h2>Your Answer</h2></label>
                                                    <textarea id="subject" name="subject" placeholder="Type your answer here..." style="height:200px"></textarea>
                                                    <a href="#" class="btn btn-primary" type="submit">Submit</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">10</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">18</a></h5>
                                        <a href="details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">Django: Image is stored twice</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">0</a></h5>
                                        <a href="UI/templates/mains/addanswer.html" class="btn btn-success">post answer</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">10</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">18</a></h5>
                                        <a href="UI/templates/mains/details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">Restoring deleted files and folders in linux</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">0</a></h5>
                                        <a href="UI/templates/mains/addanswer.html" class="btn btn-success">post answer</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">10</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">18</a></h5>
                                        <a href="UI/templates/mains/details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">firebase cloudmessaging with python, can't auth - something wrong in token?</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">0</a></h5>
                                        <a href="UI/templates/mains/addanswer.html" class="btn btn-success">post answer</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">10</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">18</a></h5>
                                        <a href="UI/templates/mains/details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">Laravel API versioning folders structure</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">0</a></h5>
                                        <a href="UI/templates/mains/addanswer.html" class="btn btn-success">post answer</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">10</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">18</a></h5>
                                        <a href="UI/templates/mains/details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="quiz">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <li class="dropdown-btn">
                        <a href="#">Setting up the database with psycopgy2 and postgresSQL</a>
                    </li>
                    <div class="dropdown-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h2>Question summary</h2>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <div class="grid-3">
                                    <div class="summary">
                                        <h4>Total answers</h4>
                                        <h5><a href="#">1</a></h5>
                                        <a href="UI/templates/mains/addanswer.html" class="btn btn-success">post answer</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total votes</h4>
                                        <h5><a href="#">13</a></h5>
                                        <a href="#" class="btn btn-success">add vote</a>
                                    </div>
                                    <div class="summary">
                                        <h4>Total views</h4>
                                        <h5><a href="#">8</a></h5>
                                        <a href="UI/templates/mains/details.html" class="btn btn-primary">view details</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="side-grid">
            <div class="post">
                <a href="../../templates/mains/post_question.html" class="btn btn-primary">Post Question</a>
            </div>
            <div class="cal" id="cal" style="margin-top: 1.5em;">
                <div class="month">
                    <span class="left button" id="prev"> &lang;</span>
                    <span class="left hook"></span>
                    <span class="month-year" id="label"> August 2018</span>
                    <span class="right hook" id=""></span>
                    <span class="right button" id="next"> &rang;</span>
                </div>
                <table id="days">
                    <tr>
                        <td>Sun</td>
                        <td>Mon</td>
                        <td>Tue</td>
                        <td>Wed</td>
                        <td>Thu</td>
                        <td>Fri</td>
                        <td>Sat</td>
                    </tr>
                </table>
                <div class="cal-frame">
                    <table class="curr">
                        <tr>
                            <td class="nil"></td><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td>
                        </tr>
                        <tr>
                            <td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td class="today">10</td><td>11</td>
                        </tr>
                        <tr>
                            <td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td>
                        </tr>
                        <tr>
                            <td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
                        </tr>
                        <tr>
                            <td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td class="nil"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

