<div class="asheuh-sidenav">
    <div id="brand">
        <h3 class="side-link"><a href="home.html">Stackoverflow&#x2606;Lite</a></h3>
    </div>

    <ul class="menu">
        <li><a href="home.html" class="active"> Home/Recent Questions</a></li>
        <li><a href="allquestions.html" class="side-link link">All Questions</a></li>
        <li><a href="users.html" class="side-link link"> Users</a></li>
        <li><a href="userprofile.html" class="side-link link"> Profile</a></li>
    </ul>
    <div class="hide">
        <ul class="menu">
            <li><h3 id="brandi" class="side-link">Popular users</h3></li>
            <hr>
        </ul>
        <ul class="menu">
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Bryan Mboya</p>
                </a>
            </li>
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Paullette Mboya</p>
                </a>
            </li>
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Stacy Mboya</p>
                </a>
            </li>
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Jack Bryan</p>
                </a>
            </li>
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Avril Mboya</p>
                </a>
            </li>
            <li>
                <a href="#" class="side-link"> 
                    <img class="image" style="border-radius: 50%; width: 30px; height: 30px;" src="../../static/images/asheuh.jpeg">
                    <p style="margin-top: -1.8em; margin-left: 2.5em;">Chessi Thifa</p>
                </a>
            </li>
        </ul>
    </div>
    <footer class="sidebar-footer">
        <div class="social-icons">
            <a href="#"><i class="ha fab fa-facebook-square"></i></a>
            <a style="color: yellow;" href="#"><i class="ha fab fa-instagram"></i></a>
            <a href="#"><i class="ha fab fa-twitter-square"></i></a>
            <a href="#"><i class="ha fab fa-linkedin-in"></i></a>
            <a style="color: #f44336;" href="#"><i class="ha fab fa-google-plus-square"></i></a>
        </div>
    </footer>
</div>
