<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css" type="text/css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <script src="../../static/js/app.js"></script>
    <title>Stackoverflow | Lite</title>
</head>

<body>
    <header class="header">
        <nav class="myNavbar">
            <div>
                <ul class="myNav">
                    <div class="my-container">
                        <li>
                            <a style="font-size: 22px; color: gold;" href="../../../index.html"><span class="smallerFont">Stackoverflow</span>LITE<sup><small>2018</small></sup></a>
                        </li>
                        <li class="right"><a href="signin.html"> Login</a></li>
                        <li class="right"><a href="signup.html"> Signup</a></li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="my-container grid-3">
        <div class="span-col-2">
            <h1>Question Details</h1>
            <hr>
            <div class="quiz" style="background-color: #F7F7F7; padding: 5px;">
                <ul class="qa">
                    <p class="asheuh">Asked 20mins ago by Brian Mboya</p>
                    <h4 style="font-size:18px">Jquery search working on my desktop device and also on chrome mobile emulator but not working in real device</h4>
                    <div class="d-container">
                        <ul class="stats">
                            <div class="new-container">
                                <h4>Question</h4>
                                <p>
                                    I have a website which contains jquery search (search based on object properties) and 
                                    the search result (HTML content) is appended from jquery. it is working perfectly fine 
                                    on a web device and also on chrome mobile emulator (in dev console) but it is not 
                                    working on the real device (Tested on both Android and IOS)
                                </p>
                                <h4>Answers</h4>
                                <div class="first span-col-3">
                                    <div class="">
                                        <hr>
                                        <div class="panel pale-green">
                                            <p>By Brian Mboya 20mins ago</p>
                                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                                            <a href="#"><img class="image" style="border-radius: 50%; width: 20px; height: 20px;" src="../../static/images/tick-icon-44.png"></a>
                                            <a href="#"><img class="image" style="border-radius: 50%; width: 20px; height: 20px;" src="../../static/images/x.png"></a>
                                        </div>
                                        <div class="panel pale-green">
                                            <p>By Stacy Mboya 20mins ago</p>
                                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                                            <a href="#"><img class="image" style="border-radius: 50%; width: 20px; height: 20px;" src="../../static/images/tick-icon-44.png"></a>
                                            <a href="#"><img class="image" style="border-radius: 50%; width: 20px; height: 20px;" src="../../static/images/x.png"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-3">
                                    <div class="summary">
                                        <a class="btn btn-success" href="signin.html">Post Answer</a> 
                                    </div>
                                    <div class="summary">
                                        <a href="signin.html" class="btn btn-success">add vote</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="side-grid">
            <div class="grid-3" style="margin-top: 6em">
                <div class="summary" style="border: 1px solid green; text-align: center;">
                    <h4 style="margin-top: 1em;">Total answers</h4>
                    <h5><a href="#">3</a></h5>
                </div>
                <div class="summary" style="border: 1px solid green; text-align: center;">
                    <h4 style="margin-top: 1em;">Total votes</h4>
                    <h5><a href="#">10</a></h5>
                </div>
                <div class="summary" style="border: 1px solid green; text-align: center;">
                    <h4 style="margin-top: 1em;">Total views</h4>
                    <h5><a href="#">18</a></h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

