<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <title>base</title>
</head>

<body>
    <header class="header">
        <nav class="myNavbar">
            <div>
                <ul class="myNav">
                    <div class="my-container">
                        <li class="brand">
                            <a style="font-size: 22px; color: gold;" href="../../../index.html"><span class="smallerFont">Stackoverflow</span>LITE<sup><small >2018</small></sup></a>
                        </li>
                        <li class="right"><a href="signin.html"> Login</a></li>
                        <li class="right"><a href="signup.html"> Signup</a></li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div id="signup">
        <h1 class="head">
            <span class="smallerFont">Stackoverflow</span>&#x2606;Lite
        </h1>
        <form action="home.html">
            <div class="imgcontainer">
                <h3>Login to your account</h3>
            </div>

            <div class="container">
                <input type="text" placeholder="Enter Email" name="email" required>
                <input type="password" placeholder="Enter Password" name="pass" required>
                <button type="submit" class="sella">Login</button>
            </div>
            <div class="container signin">
                <p>Don't have an account? <a href="signup.html">Sign Up</a>.</p>
            </div><br>
            <div class="container">
                <span class="asheuh"><a href="#">Forgot password?</a></span><br>
            </div>
            <div class="separator">
                <span class="separator-text">OR</span>
            </div>
            <div class="socmed-login">
                <a href="#g-plus" class="socmed-btn google-btn">
                    <span>Signin with Google</span>
                </a>
            </div>
        </form>
    </div>

    <div class="my-footer">
        <p class="foot">&copy; Copyright 2018 Stackoverflow lite, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>

</body>

</html>
