<div class="asheuh-sidenav" style="background-color: white;">
    <div id="brand">
        <h3 class="side-link"><a href="home.html">Stackoverflow&#x2606;Lite</a></h3>
    </div>

    <ul class="menu">
        <li><a href="home.html" class="active"> Home/Recent questions</a></li>
        <li><a href="userquestions.html" class="side-link link">My Questions</a></li>
        <li><a href="questionwithmostanswers.html" class="side-link link">Most Answered</a></li>
        <li><a href="users.html" class="side-link link"> Users</a></li>
        <li><a href="userprofile.html" class="side-link link"> Profile</a></li>
    </ul>
</div>
